<!--
A partir do arquivo do desafio 2-1, adicionar um novo link no header chamado Sobre. Essa página deverá mostrar informações referentes a Rocketseat.

Informaçõe

-->

{% extends "layout.njk" %}

    {% block head %}
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="style.css">
        
        <title>Rocketseat</title>

    {% endblock %}

