{% extends "layout.njk" %}

 {% block content %}


        <div id="wrapper">
            <img src="https://yt3.ggpht.com/a/AATXAJz-oJY2C2N2gxv09ri8u0twlKqtaeQJTVYixpDh0w=s900-c-k-c0x00ffffff-no-rj" alt="Logo Rocketseat">
            <h1>Rocketseat</h1>
            <p>Empresa que orienta desenvolvedores a serem incriveis!</p>
            <ul>
                <li>JavaScript</li>
                <li>CSS</li>
                <li>Html</li>
            </ul>
        </div>

        <div id="links-footer" class="links">
            
            <a href="https://github.com/Rocketseat" target="_Blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_Blank">Instagram</a>                
            <a href="https://web.facebook.com/rocketseat/" target="_Blank">Facebook</a>                

        </div>
{% endblock %}