{% extends "layout.njk" %}
    
    {% block head %}
        <title>Página não encontrada</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        
    {% endblock %}


    {% block content %}
        <div class="title-404">
            <h1>Error 404</h1>
        </div>

        <div class="content-404">
            <p>Page Not Found</p>
        </div>

    {% endblock %}